
.Recipe-container{
    margin: 25px auto 0;
    position: relative;
    width: 350px;
 }

 .Recipe-card{
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 5px rgba(75, 75, 75, .07);
    z-index: 1;
 }

.Recipe-card-header {
	width: 255px;
	height: 200px;
    background-position: center center;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.Recipe-card-header_overlay {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 9.75em;
	width: 100%;
	z-index: 4000;
}
.Recipe-container-colums{
    position: relative;
    width: 100%;
}
.price {
	color: white;
	position: absolute;
	top: 5px;
	right: 60px;
	background-color: darkkhaki;
	font-size: 0.8125rem;
	line-height: 1.5rem;
    height: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
	border-radius: 4px;
	letter-spacing: .03em;
	z-index: 5000;
	text-transform: uppercase;
	font-weight: 400;
	box-shadow: 4px 6px 8px 0px rgba(46,61,73,0.2);
}

.time {
	color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
	background-color: thistle;
	font-size: 0.8125rem;
    line-height: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
	height: 1.5rem;
    border-radius: 4px;
    border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	letter-spacing: .03em;
	z-index: 5000;
	font-weight: 400;
	box-shadow: 4px 6px 8px 0px rgba(46,61,73,0.2);
}

.Recipe-card-tag{
    color: white;
	position: absolute;
	top: 5px;
	right: 60px;
	background-color: darkolivegreen;
	font-size: 0.8125rem;
	line-height: 1.5rem;
    height: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
	border-radius: 4px;
	letter-spacing: .03em;
	z-index: 5000;
	text-transform: uppercase;
	font-weight: 400;
	box-shadow: 4px 6px 8px 0px rgba(46,61,73,0.2);
}

.card-title {
	position: relative;
}


.Recipe-card-body {
    display: inline-block;
    width: 310px;
}
  
.Recipe-card-number {
    float: left;
    margin-top: 15px;
}

.Recipe-card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}

.Recipe-card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 60px;
    margin: 10px 0;
}

.Recipe-card-description {
    text-align: justify;
    display: inline-block;
    font-weight: 200;
    line-height: 22px;
    margin: 10px 10px;
}

.Recipe-card-read {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}
.Recipe-card-read a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.Recipe-card-read a:hover{
    color: cornflowerblue;
    text-decoration: none;
}

.Recipe-card-read:after {
    background-color: #b8bddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
}

.Recipe-card-shadow {
    background-color: #fff;
    box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
    height: 1px;
    margin: -1px auto 0;
    width: 80%;
    z-index: -1;
}

.Recipe-card-delete {
    float: right;
    cursor: pointer;
}

.Recipe-card-delete:hover{
    color:red;
}

.subtle {
    color: #aaa;
  }

.Recipe-card-delete{
    color:black;
    cursor: pointer;
}
  