
.RecipeView-container{
    margin: 25px auto 0;
    position: relative;
    max-width: 850px;
    min-width: 350px;
 }

 .RecipeView-card{
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
 }

.RecipeView-card-body {
    display: inline-block;
    width: 90%;
}
  
.RecipeView-card-number {
    float: left;
    margin-top: 15px;
}

.RecipeView-card-circle {
    border: 1px solid #aaa;
    border-radius: 50%;
    display: inline-block;
    line-height: 22px;
    font-size: 12px;
    height: 25px;
    text-align: center;
    width: 25px;
}

.RecipeView-card-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 200;
    line-height: 60px;
    margin: 10px 0;
}

.RecipeView-card-description {
    text-align: justify;
    display: inline-block;
    font-weight: 200;
    line-height: 22px;
    margin: 10px 10px;
}

.RecipeView-card-read {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 5px 0 20px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}

.RecipeView-card-read:after {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 9px;
    width: 75%;
}

.subtle {
    color: #aaa;
  }